<main id="main">
  <div id="container">
    <h2 id="title-login"> Crie uma nova conta</h2>
    <form action="">
      <input class="input-form" type="text" placeholder="Nome" required/>
      <input class="input-form" type="email" placeholder="Email" required/>
      <input class="input-form" type="password" placeholder="Senha" required/>
      <input id="button-submit" type="submit" value="Registre-se" required/>
      <span id="spran-redirect-login"> 
        Já tem uma conta?
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" id="link-redirect-login">Faça login.</a>
      </span>
    </form>
  </div>
</main>
