<main id="main">
    <div class="container-notes-grid">
        <div id="container-add-note-card" (click)="togglePopUpCreateNote()">
            <h3 id="title-add-note-card">Adicionar Nota</h3>
            <fa-icon id="plusIcon" [icon]="['fas','plus']" size="2x" [styles]="{'color': '#ffffff62'}"></fa-icon>
        </div>
        <note-card *ngFor="let note of (notes$ | async)" (deleteNoteOut)="deleteNote($event)" (updateNoteOut)="updateNote($event)" [noteTitle]="note.title" [noteDescription]="note.description" [noteId]="note.id"></note-card>
    </div>
    <div id="button-add-note" (click)="togglePopUpCreateNote()">
        <fa-icon id="plusIcon" [icon]="['fas','plus']" size="3x" [styles]="{'color': '#262626'}"></fa-icon>
    </div>
    <note-popup *ngIf="popUpCreateNoteIsOpen" [buttonExcluirIsVIsible]= false (updateNoteOut)="saveNote($event)" (closePopupOut)="togglePopUpCreateNote()"></note-popup>
</main>