@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#main {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  background-color: #262626;
  overflow: auto;
}

.container-notes-grid {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-template-rows: repeat(auto-fill, 100px);
  justify-content: center;
  gap: 20px;
}

#button-add-note {
  position: fixed;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #FBBC04;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85vw;
  margin-top: 80vh;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#plus-icon {
  transition: transform 0.2s ease-in-out;
}

#button-add-note:hover {
  transform: scale(1.04);
}
