<div id="container">
  <div id="pop-up">
    <form id="container-inputs">
      <input type="text" class="inputs">
      <textarea id="w3review" name="w3review" rows="4" cols="50">
        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
        </textarea>
        
    </form>
    <div id="container-button-exit">
      <button id="button-exit">Excluir</button>
      <button id="button-exit">Salvar</button>
    </div>
  </div>
</div>